doctype html
html(lang="en")
  head
    include includes/head_content.pug
    title Home
  body
    include includes/navbar_content.pug
    include includes/slider.pug
    include includes/main_cards.pug
    div(class=" container lg:flex block")
      div(class="block my-28")
        h1(class="text-2xl font-extrabold mb-0") Sports
        include includes/business_cards.pug
      div(class="block my-28")
        h1(class="text-2xl font-extrabold") Business
        include includes/business_cards.pug
    include includes/footer_content.pug
    
    
    include includes/scripts.pug
    
    

