body{
  overflow-x: hidden;
}
#sidebar{
  position: fixed;
  top: 0px;
  right: -300px;
  width: 250px;
  transition: 1.5s ;
  p{
    text-align: right;
    i#close_sidebar{
      cursor: pointer;
    }
  }
  ul{
    li{
      transition: 0.3s ;
      cursor: pointer;
      color: #000;
      &:hover{
        color: $orange1;
      }
      span{
        transition: 0.3s ;
      }
      span:hover{
        color: $orange1;
      }
    }
    ul{
      display: none;
    }
  }
}
#menu, #close_sidebar{
  transition: 0.3s ;
}
#menu:hover{
  color: $orange1;
}
#close_sidebar:hover{
  color: $orange1;
}
.active{
  color: $orange1 !important ;
}